.article {
    padding-top: 15px;
    padding-bottom: 30px;
    width: 75%;
    padding-right: 15px;
}

.description {
    font-size: 14px;
    color: gray;
}

@media (max-width: 759px) {
    .article {
        width: 100%;
    }
}