.product-cards {
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

@media (max-width: 799px) {
    .product-cards {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
}

@media (max-width: 699px) {
    .product-cards {
        grid-gap: 15px;
    }
}

@media (max-width: 469px) {
    .product-cards {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
}

.product-card {
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    position: relative;
    height: 360px;
}

.product-card-image img {
    font-family: "object-fit:cover";
    object-fit: cover;
    height: 160px;
}

.product-card-content {
    padding: 15px;
}

.product-card-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 1;
    margin-bottom: 10px;
}

.product-card-text {
    font-size: 14px;
    color: #777;
    height: 77px;
    overflow: hidden;
}

/*
.product-card-bottom {

    display: flex;
    justify-content: space-between;
    align-items: center;
}
*/

.product-price {
    font-weight: 500;
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.button-add-to-cart {
    font-size: 13px;
    text-transform: uppercase;
    position: absolute;
    bottom: 15px;
    right: 15px;
}