.accordion-aside {
    border: 1px solid whitesmoke;
    color: #666666;
}

.accordion-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 20px;
    background-color: whitesmoke;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}

.accordion-button span {
    font-size: 20px;
    color: #999;
}

.accordion-content-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    line-height: 30px;
    padding: 5px 10px;
    border-bottom: 1px solid whitesmoke;
}

.accordion-content-item:last-child {
    border-bottom: none;
}

.accordion-content-item-left {
    display: flex;
    align-items: center;
}

.accordion-content-item input {
    margin-right: 10px;
}

.accordion-content-item-right {
    font-size: 12px;
    color: #adadad;
}