@import url(navbar/navbar.css);
@import url(article/article.css);
@import url(aside/aside.css);
@import url(gallery/gallery.css);
@import url(product-cards/product-cards.css);
@import url(buttons/buttons.css);
@import url(footer/footer.css);
@import url(alert/alert.css);
@import url(modal/modal.css);
@import url(popup/popup.css);
@import url(accordion/accordion.css);
@import url(tabs/tabs.css);
@import url(chart-data/chart-data.css);

body {
    font-family: 'Roboto', sans-serif;
}

.body-grid {
    min-height: 100vh; /*viewport height- a kijelző magassága*/
    display: grid; /*rács*/
    grid-template-rows: auto 1fr auto; /*ha három elemünk van a body-ban, az 1fr kitölti a két másik közötti teret*/
}
.main {
    min-height: 500px;
}
.container {
    max-width: 1000px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 759px) {
    .flex-container {
        flex-direction: column;
    }
}

h3 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.content-container {
    display: grid;
    grid-template-columns: 270px 1fr;
    grid-gap: 30px;
}
