.gallery-grid {
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
}

@media (max-width: 799px) {
    .gallery-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 699px) {
    .gallery-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.zoom {
    zoom: 200%;
}