.modal-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: black;
    opacity: 0.85;
}

.modal {
    background-color: whitesmoke;
    width: 100%;
    max-width: 320px;
    margin: 100px auto;
    padding: 20px;
    position: relative;
}

#modal-icon-close {
    color: #666;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.modal-heading {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 15px;
    color: #666;
}

#modal-search {
    height: 40px;
    border-radius: 20px;
}

.friend-list-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.friend-list-item-left {
    display: flex;
}

.friend-image {
    display: inline-block;
    font-family: "object-fit:cover";
    object-fit: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.friend-name {
    font-weight: bold;
    font-size: 15px;
}

.friend-email {
    font-size: 13px;
    color: #666;
}

.friend-list-item-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #adadad;
    border: 1px solid #adadad;
    cursor: pointer;
}

.friend-list-item-button-checked {
    background-color: darkseagreen;
    color: white;
    border: 1px solid darkseagreen;
}