.tab-buttons {
    display: flex;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}

.tab-button {
    padding: 10px 15px;
    color: #223f95;
    border-top:  1px solid #ddd;
    border-right:  1px solid #ddd;
    line-height: 1;
    cursor: pointer;
}

.tab-button:first-child {
    border-left:  1px solid #ddd;
}

.tab-active {
    font-weight: 700;
    color: #555;
    background-color: #f4f4f4;
}

.tab-content {
    padding: 15px 0;
}