.navbar {
    background-color: black;
    color: white;
    line-height: 60px;
    position: relative;
}

.navbar a {
    color: white;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

@media (max-width: 759px) {
    .navbar-menu {
        position: absolute; /*a szülő koordinált elem, az abszolút a szülőn belül bárhová tehetem*/
        top: 60px; /*navbar magassága miatt*/
        right: 0;
        color: black;
        background-color: #d5d5d5;
        width: 100%;
        padding: 0 15px;
        display: none;
    }

    .navbar li a {
        color: black;
    }
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 25px;
}

@media (max-width: 759px) {
    nav ul {
        display: block;
    }
    nav ul li {
        margin-left: 0;
    }
}

.menu-button {
    display: flex;
    align-items: center;
}

@media (min-width: 760px) {
    .menu-button {
        display: none;
    }
}