.data-row {
    display: grid;
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    grid-gap: 10px;
    width: 100%;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 10px;
}

.data-row-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.data-row-left-data {
    font-weight: bold;
}

.data-row-right {
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
}

.data-row-right-area {
    content: "\00a0";
    background-color: var(--blue);
}

.data-row-right-data {
    padding: 0 10px;
}