.alert-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: black;
    opacity: 0.85;
}

.alert {
    background-color: white;
    width: 100%;
    max-width: 360px;
    margin: 100px auto;
    padding: 30px;
    position: relative;
}

#alert-icon-close {
    color: #777777;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.alert-heading {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 15px;
}

.alert-text {
    font-size: 14px;
}

.button-alert {
    font-size: 14px;
    color: inherit;
    background-color: whitesmoke;
    border-color: #777777;
    margin-right: 15px;
}