.popup {
    position: absolute;
    top: 100px;
    right: 30px;
    background-color: #333;
    padding: 10px;
    width: 100%;
    max-width: 320px;
    color: white;
    border-radius: 10px;
    display: flex;
}

@media (max-width: 379px) {
    .popup {
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
}

#popup-icon-close {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    font-size: 14px;
}

.popup-image {
    width: 50px;
    margin-right: 10px;
}

.popup-heading {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 4px;
}

.popup-text {
    font-size: 12px;
    color: whitesmoke;
}